# Google Calendar Service Account credentials
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GOOGLE_CALENDAR_ID=your-calendar-id@gmail.com

# Display settings
NEXT_PUBLIC_OWNER_NAME=Marc
NEXT_PUBLIC_OWNER_TIMEZONE=Europe/London
